body {
  background-color: rgb(239, 198, 239);
  font-family: "Courier New", Courier, monospace;
}

p {
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bolder;
}

img {
  border-radius: 8px;
}
